<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="mydenglu">
    <div class="alertCon alertZh" id="alertZh">
	    	<div class="alertTl">
	    		账户登录
	    	</div>
	    	<div class="alertForm">
	    		<form id="loginForm">
	    			<div class="alertFormGp erro">
	    			<label for="" class="alertFormName">
	    				用户名<span>*</span>
	    			</label>
	    			<input type="text" class="alertInp" placeholder="请输入用户名" name="account" id="lnaccount"/>
	    			</div>
	    			<div class="alertFormGp">
	    			<label for="" class="alertFormName">
	    				密码<span>*</span>
	    			</label>
	    			<input type="password" class="alertInp" placeholder="请输入密码" name="password" id="lnpassword"/>
	    			</div>
	    		    <input type="button" value="登录" class="alertSubmit" id="loginButtion"/>
	    		    <div class="alertReg">
	    		    	<a href="javascript:;">第一次使用？点击注册>></a>
	    		    </div>
	    		</form>
	    	</div>
	    </div>
	    </div>
</html>