<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="myfooter">
    <div class="footer">
	    	<div class="footerTop">
	    		<div class="index-container clearfix">
	    			<div class="left footerTopLf">
	    				<p class="footerTopTl">
	    					<img th:src="@{/images/pingtai.png}" />
	    					平台介绍
	    				</p>
	    				<div class="footerTopText">
	    					平台围绕生物医药领域进行信息监测与情报服务，结合文献情报中心的文献服务、情报咨询服务等，为领域研究相关科研机构、政府部门、企业等提供产业技术情报服务和科技咨询服务。
	    				</div>
	    			</div>
	    			<div class="left footerTopMiddle">
	    				<div class="footerTopMiddleTop">
	    				<p class="footerTopTl">	    				
	    					交流合作
	    				</p>
	    				<div class="footerTopText">
	    					<span>平台围绕生物医药领域进行信息监测与情报服务，结合文献情报中心的文献服务、情报咨询服务等，为领域研究相关科研机构、政府部门、企业等提供产业技术情报服务和科技咨询服务。</span><a href="#">更多>></a>
	    				</div>
	    				</div>
	    				<p class="footerTopTl">	    				
	    					关于我们
	    				</p>
	    				<div class="footerTopText">
	    					<span>平台围绕生物医药领域进行信息监测与情报服务，结合文献情报中心的文献服务、情报咨询服务等，为领域研究相关科研机构、政府部门、企业等提供产业技术情报服务和科技咨询服务。</span><a href="#">更多>></a>
	    				</div>
	    			</div>
	    		    <div class="left footerTopLX">
	    		    	<div class="footerTopLXT">
	    		    	<p class="footerTopTl">	    				
	    					<img th:src="@{/images/lianxifangshi.png}" />联系方式
	    				</p>
	    				<div class="footerTopText">
	    					<p>沈阳科技查新服务站</p>
	    					<p>电话：024-24754618 </p>
	    					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13478157868</p>
                             <p>邮箱：sykjcxfw@sina.com</p>
	    				</div>
	    		    	</div>
	    		        <div class="footerTopText">
	    		        	<p class="footerTopTl">	    				
	    				 	<img th:src="@{/images/jigou.png}" />合作机构
	    				    </p>
	    		        	<ul>
	    		        		<li>
	    		        			<a href="#">•&nbsp;沈阳国家高新技术产业开发区</a>
	    		        		</li>
	    		        		<li>
	    		        			<a href="#">•&nbsp;中国科学院沈阳分院</a>
	    		        		</li>
	    		        		<li>
	    		        			<a href="#">•&nbsp;中国科学院文献情报中心</a>
	    		        		</li>
	    		        		<li>
	    		        			<a href="#">•&nbsp;国家科学图书文献中心</a>
	    		        		</li>
	    		        		<li>
	    		        			<a href="#">•&nbsp;沈阳火炬高新技术产业服务中心有限公司</a>
	    		        		</li>
	    		        		
	    		        	</ul>
	    		        </div>
	    		    </div>
	    		    <div class="right footerTopErw">
	    		    	<img th:src="@{/images/erw.png}" />
	    		    	<p>
	    		    		<em></em>扫码快速关注公众号
	    		    	</p>
	    		    </div>
	    		</div>
	    	</div>
	        <div class="footerB">
	        	<div class="index-container">
	        		版权所有 @ 2017 沈阳高新区生物医药知识服务云平台 中国科学院文献情报中心,京ICP证030173号
	        	</div>
	        </div>
	    </div>
	    </div>
</html>