<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="myfooter">
    <div class="footer">
	    	<div class="footerTop">
	    		<div class="index-container clearfix">
	    			<div class="left footerTopLf">
	    				<p class="footerTopTl">
	    					<img th:src="@{/images/pingtai.png}" />
	    					平台介绍
	    				</p>
	    				<div class="footerTopText">
	    					平台围绕生物医药领域进行信息监测与情报服务，结合文献情报中心的文献服务、情报咨询服务等，为领域研究相关科研机构、政府部门、企业等提供产业技术情报服务和科技咨询服务。
	    				</div>
	    			</div>
	    			<div class="left footerTopMiddle">
	    				<div class="footerTopMiddleTop">
	    				<p class="footerTopTl">	    				
	    					交流合作
	    				</p>
	    				<div class="footerTopText">
	    					<span>浑南区高新技术产业保持高速发展，机器人、IC装备、生物医药、健康医疗、民用航空等优势产业表现抢眼。重点  围绕生物医药产业发展做好园区前期规划工作，要把国内外先进经验融入到发展规划中，  与省内医药类高校、院所的科研深度合作，做好孵化器、检验检测等公共平台建设，为园区招商引资创造条件。</span>
	    				</div>
	    				</div>
	    				<p class="footerTopTl">	    				
	    					关于我们
	    				</p>
	    				<div class="footerTopText">
	    					<span>沈阳高新技术产业开发区是以前的沈阳市浑南新区， 始建于1988年5月，1991年被国务院首批批准为国家高新技术产业开发区，是科技部重点支持的众多开发区之一。重点支持电子与信息，光、机、电一体化，新材料，生物工程，节能与环保等高新技术领域的产业化发展，使高新区建设成为中国北方的“硅谷”。</span>
	    				</div>
	    			</div>
	    		    <div class="left footerTopLX">
	    		    	<div class="footerTopLXT">
	    		    	<p class="footerTopTl">	    				
	    					<img th:src="@{/images/lianxifangshi.png}" />联系方式
	    				</p>
	    				<div class="footerTopText">
	    					<p>沈阳科技查新服务站</p>
	    					<p>电话：024-24754618 </p>
	    					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13478157868</p>
                             <p>邮箱：sykjcxfw@sina.com</p>
	    				</div>
	    		    	</div>
	    		        <div class="footerTopText">
	    		        	<p class="footerTopTl">	    				
	    				 	<img th:src="@{/images/jigou.png}" />合作机构
	    				    </p>
	    		        	<ul>
	    		        		<li>
	    		        			<a href="#">•&nbsp;沈阳国家高新技术产业开发区</a>
	    		        		</li>
	    		        		<li>
	    		        			<a href="#">•&nbsp;中国科学院沈阳分院</a>
	    		        		</li>
	    		        		<li>
	    		        			<a href="#">•&nbsp;中国科学院文献情报中心</a>
	    		        		</li>
	    		        		<li>
	    		        			<a href="#">•&nbsp;国家科学图书文献中心</a>
	    		        		</li>
	    		        		<li>
	    		        			<a href="#">•&nbsp;沈阳火炬高新技术产业服务中心有限公司</a>
	    		        		</li>
	    		        		
	    		        	</ul>
	    		        </div>
	    		    </div>
	    		    <div class="right footerTopErw">
	    		    	<img th:src="@{/images/erw.png}" />
	    		    	<p>
	    		    		<em></em>扫码快速关注公众号
	    		    	</p>
	    		    </div>
	    		</div>
	    	</div>
	        <div class="footerB">
	        	<div class="index-container">
	        		版权所有 @ 2017 沈阳高新区生物医药知识服务云平台 中国科学院文献情报中心,京ICP证030173号
	        	</div>
	        </div>
	    </div>
	    </div>
</html>