<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" th:href="@{/css/init.css}" />
		<link rel="stylesheet" th:href="@{/css/swiper.min.css}" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-1.7.2.js}" ></script>
		<script type="text/javascript" th:src="@{/js/swiper.min.js}" ></script>
	</head>
	<body>
		<div class="nyMain">
			<div class="nycontainer">
			<div class="head">
			<div class="clearfix">
				<a href="index.html" class="left logo">
					<img th:src="@{/images/logo.png}" />
				</a>
				<a href="#" class="left headBack">
					<<返回首页
				</a>
				<div class="left headsuos">
					<em></em>
					<input type="button" class="headsuosBtn" value="搜索" />
					<input type="text" class="headsuosInp" />
				</div>
				<div th:replace="qiantaidenglu :: myqiantaidenglu"></div>
			</div>
		</div>              
		    
			</div>
			<div class="nycontainer rencaiM">
			
				<div class="rencaiNr clearfix" th:object="${org}">
					<div class="rencaiLf left">
						<div class="rencaiLFmess">
							<img th:src="@{/images/gongsiLogo.png}" />
							<div class="rencaiLFmessText">
								<p class="rencaiLFmessName">
									机构名称： 
								</p>
								<p th:text="*{name}">
								</p>
								<p class="rencaiLFmessName">
									研究方向： 
								</p>
								<p th:text="*{area}">
								</p>
								<p class="rencaiLFmessName">
									机构类型： 
								</p>
								<p th:text="*{type}">
								</p>
								<p class="rencaiLFmessName">
									 国家： 
								</p>
								<p th:text="*{country}">
								</p>
							</div>
						</div>
						
					</div>
				    <div class="rencaiRt right rencaiRtMess">
				    	<span class="resultrtTlSmall">
		            		基本介绍
		            	</span>
		            	<div class="zhuanliConOne" th:utext="*{description}">
		            	</div>
		            	<span class="resultrtTlSmall">
		            		相关专家
		            	</span>
		            	<div class="jigouzhuanjia">
		            		<div class="yslbM">
			    			<div class="ysLb ysLb1">
			    				<div class="swiper-container">
                    <div class="swiper-wrapper">
	    			 <div class="swiper-slide">
	    			 	<div class="ysPer">
	    			 	<a href="#">
	    			 		<img th:src="@{/images/10.png}" />
	    			 		<p class="ysName">
	    			 			张永生 
	    			 		</p>
	    			 		<p>
	    			 			Alcon Laboratories
	    			 		</p>
	    			 	</a>
	    			 	</div>
	    			 </div>
                    </div>
	    		</div>
			    			    <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <script>
    var swiper = new Swiper('.ysLb1 .swiper-container', {
      slidesPerView:5,
      spaceBetween: 18,
     navigation: {
								nextEl: '.ysLb1 .swiper-button-next',
								prevEl: '.ysLb1 .swiper-button-prev',
							},
    });
    
  </script>
			    			</div>
			    		    </div>
		            	</div>
		            	<div class="zhuanliConTwo clearfix">
		            		<a href="javascript:;" class="ahover">
		            			相关专利
		            		</a>
		            		<a href="javascript:;">
		            			相关论文
		            		</a>
		            		<a href="javascript:;">
		            			相关信息
		            		</a>
		            	</div>
		            	<div class="zhuanliConThree">
		            		<div class="zhuanliConThreeM active">
		            			<ul class="jiansuoUl">
		            		   <li>
		            			<div class="jiansuoLiTL">
		            				<a href="#">
		            					Conventional pluripotency markers are unspecific for bovine embryonic-derived cell-lines.Big data: The next frontier for innovation, competition, and productivity
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>专利权人：Briefings in bioinformatics </span>
		            				<span>优先权年：2017年12月1日</span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan">
		            				Bovine embryonic stem cells are of potentially big value in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency…
		            				</span>
		            				<a href="javascript:;" class="jiansuoLImore">
		            					展开更多
		            				</a>
		            			</div>
		            		</li>
		            	</ul>
		            	<div class="jiazai">
			    					<img th:src="@{/images/jiazai.png}" />
			    					加载中...
			    				</div>
		            		</div>
		            		<div class="zhuanliConThreeM">
		            			<ul class="jiansuoUl">
		            		   <li>
		            			<div class="jiansuoLiTL">
		            				<a href="#">
		            					Aonventional pluripotency markers are unspecific for bovine embryonic-derived cell-lines.Big data: The next frontier for innovation, competition, and productivity
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>专利权人：Briefings in bioinformatics </span>
		            				<span>优先权年：2017年12月1日</span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan">
		            				Bovine embryonic stem cells are of potentially big value in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency…
		            				</span>
		            				<a href="javascript:;" class="jiansuoLImore">
		            					展开更多
		            				</a>
		            			</div>
		            		</li>
		            		<li>
		            			<div class="jiansuoLiTL">
		            				<a href="#">
		            					Conventional pluripotency markers are unspecific for bovine embryonic-derived cell-lines.Big data: The next frontier for innovation, competition, and productivity
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>专利权人：Briefings in bioinformatics </span>
		            				<span>优先权年：2017年12月1日</span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan">
		            				Bovine embryonic stem cells are of potentially big value in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency…
		            				</span>
		            				<a href="javascript:;" class="jiansuoLImore">
		            					展开更多
		            				</a>
		            			</div>
		            		</li>
		            		<li>
		            			<div class="jiansuoLiTL">
		            				<a href="#">
		            					Conventional pluripotency markers are unspecific for bovine embryonic-derived cell-lines.Big data: The next frontier for innovation, competition, and productivity
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>专利权人：Briefings in bioinformatics </span>
		            				<span>优先权年：2017年12月1日</span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan">
		            				Bovine embryonic stem cells are of potentially big value in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency…
		            				</span>
		            				<a href="javascript:;" class="jiansuoLImore">
		            					展开更多
		            				</a>
		            			</div>
		            		</li>
		            		<li>
		            			<div class="jiansuoLiTL">
		            				<a href="#">
		            					Conventional pluripotency markers are unspecific for bovine embryonic-derived cell-lines.Big data: The next frontier for innovation, competition, and productivity
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>专利权人：Briefings in bioinformatics </span>
		            				<span>优先权年：2017年12月1日</span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan">
		            				Bovine embryonic stem cells are of potentially big value in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency…
		            				</span>
		            				<a href="javascript:;" class="jiansuoLImore">
		            					展开更多
		            				</a>
		            			</div>
		            		</li>
		            		<li>
		            			<div class="jiansuoLiTL">
		            				<a href="#">
		            					Conventional pluripotency markers are unspecific for bovine embryonic-derived cell-lines.Big data: The next frontier for innovation, competition, and productivity
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>专利权人：Briefings in bioinformatics </span>
		            				<span>优先权年：2017年12月1日</span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan">
		            				Bovine embryonic stem cells are of potentially big value in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency…
		            				</span>
		            				<a href="javascript:;" class="jiansuoLImore">
		            					展开更多
		            				</a>
		            			</div>
		            		</li>
		            	</ul>
		            	<div class="jiazai">
			    					<img src="images/jiazai.png" />
			    					加载中...
			    				</div>
		            		</div>
		            	    <div class="zhuanliConThreeM">
		            			<ul class="jiansuoUl">
		            		   <li>
		            			<div class="jiansuoLiTL">
		            				<a href="#">
		            					Aonventional pluripotency markers are unspecific for bovine embryonic-derived cell-lines.Big data: The next frontier for innovation, competition, and productivity
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>专利权人：Briefings in bioinformatics </span>
		            				<span>优先权年：2017年12月1日</span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan">
		            				Bovine embryonic stem cells are of potentially big value in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency…
		            				</span>
		            				<a href="javascript:;" class="jiansuoLImore">
		            					展开更多
		            				</a>
		            			</div>
		            		</li>
		            		<li>
		            			<div class="jiansuoLiTL">
		            				<a href="#">
		            					Conventional pluripotency markers are unspecific for bovine embryonic-derived cell-lines.Big data: The next frontier for innovation, competition, and productivity
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>专利权人：Briefings in bioinformatics </span>
		            				<span>优先权年：2017年12月1日</span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan">
		            				Bovine embryonic stem cells are of potentially big value in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency…
		            				</span>
		            				<a href="javascript:;" class="jiansuoLImore">
		            					展开更多
		            				</a>
		            			</div>
		            		</li>
		            		<li>
		            			<div class="jiansuoLiTL">
		            				<a href="#">
		            					Conventional pluripotency markers are unspecific for bovine embryonic-derived cell-lines.Big data: The next frontier for innovation, competition, and productivity
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>专利权人：Briefings in bioinformatics </span>
		            				<span>优先权年：2017年12月1日</span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan">
		            				Bovine embryonic stem cells are of potentially big value in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency…
		            				</span>
		            				<a href="javascript:;" class="jiansuoLImore">
		            					展开更多
		            				</a>
		            			</div>
		            		</li>
		            		<li>
		            			<div class="jiansuoLiTL">
		            				<a href="#">
		            					Conventional pluripotency markers are unspecific for bovine embryonic-derived cell-lines.Big data: The next frontier for innovation, competition, and productivity
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>专利权人：Briefings in bioinformatics </span>
		            				<span>优先权年：2017年12月1日</span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan">
		            				Bovine embryonic stem cells are of potentially big value in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency…
		            				</span>
		            				<a href="javascript:;" class="jiansuoLImore">
		            					展开更多
		            				</a>
		            			</div>
		            		</li>
		            		<li>
		            			<div class="jiansuoLiTL">
		            				<a href="#">
		            					Conventional pluripotency markers are unspecific for bovine embryonic-derived cell-lines.Big data: The next frontier for innovation, competition, and productivity
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>专利权人：Briefings in bioinformatics </span>
		            				<span>优先权年：2017年12月1日</span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan">
		            				Bovine embryonic stem cells are of potentially big value in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency…
		            				</span>
		            				<a href="javascript:;" class="jiansuoLImore">
		            					展开更多
		            				</a>
		            			</div>
		            		</li>
		            	</ul>
		            	<div class="jiazai">
			    					<img src="images/jiazai.png" />
			    					加载中...
			    				</div>
		            		</div>
		            	</div>
				    </div>
				</div>
			</div>
			</div>
		<div th:replace="footer :: myfooter"></div>		
		<script type="text/javascript" th:src="@{/js/main.js}" ></script>
		<script type="text/javascript" th:inline="javascript">
		 	$(document).ready(function () {
				showLoginInfoFrontend();
		 	});
		</script>

	</body>
</html>
