<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" th:href="@{/css/init.css}" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-1.7.2.js}" ></script>
	</head>
	<body>
		<div class="nyMain">
			<div class="nycontainer">
			<div class="head">
			<div class="clearfix">
				<a href="index.html" class="left logo">
					<img th:src="@{/images/logo.png}" />
				</a>
				<a href="/" class="left headBack">
					<<返回首页
				</a>
				<div class="left headsuos">
					<em></em>
					<input type="button" class="headsuosBtn" value="搜索" />
					<input type="text" class="headsuosInp" />
				</div>
				<div th:replace="qiantaidenglu :: myqiantaidenglu"></div>
			</div>
		</div>              
		    
			</div>
			<div class="nycontainer rencaiM">
				<div class="rencaiTl">
					重点机构
				</div>
				<div class="rencaiNr clearfix">
					<div class="rencaiLf left">
						<div class="rencaiLfTl">
							目录导航
						</div>
						<ul class="rencaiLfUl">
							<li>
								<a th:href="@{/org/list(front=0)}" class="ahover">
									<span>重点机构</span>
								</a>
							</li>
							<li>
								<a th:href="@{/expert/list(front=0)}">
									<span>行业人才</span>
								</a>
							</li>
							<li>
								<a th:href="@{/report/list(front=0)}">
									<span>分析报告</span>
								</a>
							</li>
						</ul>
					</div>
				    <div class="rencaiRt right">
				    	<form>
				    		<div class="recaiForm clearfix">
				    			<select class="left">
				    				<option>
				    					全产业链
				    				</option>
				    			</select>
				    			<select class="left">
				    				<option>
				    					所有产品类型
				    				</option>
				    			</select>
				    			<select class="left">
				    				<option>
				    					所有机构类型
				    				</option>
				    			</select>
				    			<input type="button" class="left shaixuanbtn" value="筛选">
				    		</div>
				    	</form>
				       <ul class="clearfix jigouUl">
				       	<li class="clearfix" th:each="org: ${orgList}">
				       		<a href="#" class="left jigouliLf">
				       			<img th:src="@{/images/gongsiLogo.png}" />
				       		</a>
				       		<div class="right jigouRt">
				       			<div class="jiansuoLiTL">
		            				<a th:href="@{/org/get(id=${org.id},front=0)}" th:text="${org.name}">
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>相关成果：专家 <i class="colorBlue" th:text="${org.professors}"></i>人 </span>
		            				<span>专利：<i class="colorBlue" th:text="${org.patents}">20</i>件 </span>
		            				<span>文献：<i class="colorBlue">900</i>条</span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan" th:utext="${org.description}">
		            				</span>
		            				
		            			</div>
				       		</div>
				       	</li>
				       </ul>
				    </div>
				</div>
			</div>
			</div>
			<div th:replace="footer :: myfooter"></div>		
		<script type="text/javascript" th:src="@{/js/main.js}" ></script>
		<script type="text/javascript" th:inline="javascript">
		 	$(document).ready(function () {
				showLoginInfoFrontend();
		 	});
		</script>

	</body>
</html>

