<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" th:href="@{/css/init.css}" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-1.7.2.js}" ></script>
		<script type="text/javascript" th:src="@{/js/common.js}" ></script>
	</head>
	<body>
		<div class="nyMain">
			<div class="nycontainer">
			<div class="head">
			<div class="clearfix">
				<a href="index.html" class="left logo">
					<img th:src="@{/images/logo.png}" />
				</a>
				<a href="/" class="left headBack">
					<!--<<返回首页-->
				</a>
				<div class="left headsuos">
					<em></em>
					<input type="button" class="headsuosBtn" value="搜索" />
					<input type="text" class="headsuosInp" />
				</div>
				<div th:replace="qiantaidenglu :: myqiantaidenglu"></div>
			</div>
		</div>              
		    
			</div>
			<div class="nycontainer rencaiM">
				<div class="rencaiTl">
					分析报告
				</div>
				<div class="rencaiNr clearfix">
					<div class="rencaiLf left">
						<div class="rencaiLfTl">
							目录导航
						</div>
						<ul class="rencaiLfUl">
							<ul class="rencaiLfUl">
							<li>
								<a th:href="@{/org/list(front=0)}">
									<span>重点机构</span>
								</a>
							</li>
							<li>
								<a th:href="@{/expert/list(front=0)}">
									<span>行业人才</span>
								</a>
							</li>
							<li>
								<a th:href="@{/report/list(front=0)}" class="ahover">
									<span>分析报告</span>
								</a>
							</li>
						</ul>
						</ul>
					</div>
				    <div class="rencaiRt right">
				    	<form>
				    		<div class="recaiForm clearfix">
				    			<select class="left">
				    				<option>
				    					全部发布机构
				    				</option>
				    			</select>
				    			<select class="left">
				    				<option>
				    					全部发布年份
				    				</option>
				    			</select>
				    			<select class="left">
				    				<option>
				    					全部报告类型
				    				</option>
				    			</select>
				    			<input type="button" class="left shaixuanbtn" value="筛选">
				    		</div>
				    	</form>
				       <ul class="clearfix jigouUl fenxiUl">
				       	<li class="clearfix" th:each="report: ${reportList}">
				       		<a href="#" class="left jigouliLf">
				       			<img th:src="@{/images/fenxi_03.png}" />
				       		</a>
				       		<div class="left jigouRt">
				       			<div class="jiansuoLiTL">
		            				<a th:href="@{/report/get(id=${report.id},front=0)}" th:text="${report.name}">
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>完成单位：<i class="colorBlue" th:text="${report.unit}"></i></span>
		            				<span>发布时间：<i class="colorBlue" th:text="${report.ptime}"></i> </span>
		            				<span>分类：<i class="colorBlue" th:text="${report.type}"></i></span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan">
		            				生物医药行业研究报告中的生物医药行业数据分析以权威的国家统计数据为基础，采用宏观和微观相结合的分析方式，利用科学的统计分析方法，在描述行业概貌的同时，对生物医药行业进行…
		            				</span>
		            				
		            			</div>
				       		</div>
				       	</li>
				       </ul>
				    </div>
				</div>
			</div>
			</div>
		<div th:replace="footer :: myfooter"></div>
		
		<script type="text/javascript" th:src="@{/js/main.js}" ></script>
		<script type="text/javascript" th:inline="javascript">
		 	$(document).ready(function () {
				showLoginInfoFrontend();
		 	});
		</script>

	</body>
</html>
