<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" th:href="@{/css/init.css}" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-1.7.2.js}" ></script>
		<script type="text/javascript" th:src="@{/js/common.js}" ></script>
	</head>
	<body>
		<div class="nyMain">
			<div class="nycontainer">
			<div class="head">
			<div class="clearfix">
				<a href="index.html" class="left logo">
					<img th:src="@{/images/logo.png}" />
				</a>
				<a href="/" class="left headBack">
					<<返回首页
				</a>
				<div class="left headsuos">
					<em></em>
					<input type="button" class="headsuosBtn" value="搜索" />
					<input type="text" class="headsuosInp" />
				</div>
				<div th:replace="qiantaidenglu :: myqiantaidenglu"></div>
			</div>
		</div>              
		    
			</div>
			<div class="nycontainer rencaiM">
				<div class="rencaiTl">
					行业人才
				</div>
				<div class="rencaiNr clearfix">
					<div class="rencaiLf left">
						<div class="rencaiLfTl">
							目录导航
						</div>
						<ul class="rencaiLfUl">
							<ul class="rencaiLfUl">
							<li>
								<a th:href="@{/org/list(front=0)}">
									<span>重点机构</span>
								</a>
							</li>
							<li>
								<a th:href="@{/expert/list(front=0)}" class="ahover">
									<span>行业人才</span>
								</a>
							</li>
							<li>
								<a th:href="@{/report/list(front=0)}">
									<span>分析报告</span>
								</a>
							</li>
						</ul>
						</ul>
					</div>
				    <div class="rencaiRt right">
				    	<form>
				    		<div class="recaiForm clearfix">
				    			<select class="left">
				    				<option>
				    					全部单位
				    				</option>
				    			</select>
				    			<select class="left">
				    				<option>
				    					全部研究领域
				    				</option>
				    			</select>
				    			<select class="left">
				    				<option>
				    					全部担任职务
				    				</option>
				    			</select>
				    			<input type="button" class="left shaixuanbtn" value="筛选">
				    		</div>
				    	</form>
				        <ul class="clearfix rencaiUl">
				        	<li th:each="expert: ${expertList}">
				        		<a th:href="@{/expert/get(id=${expert.id},front=0)}" class="rencailiM clearfix">
				        			<img th:src="@{/images/per.png}" class="left rencailiMImg" />
				        			<div class="rencailiMRt">
				        				<div class="rencailiMRtName" th:text="${expert.name}">
				        				</div>
				        				<div class="rencailiMList">
				        					<p th:text="'单位：' + ${expert.unit}">
				        					</p>
				        					<p th:text="'担任职务：' + ${expert.duty}">
				        					</p>
				        					<p th:text="'研究领域:' + ${expert.area}">
				        					</p>
				        				</div>
				        			</div>
				        		</a>
				        	</li>
				        </ul>
				    </div>
				</div>
			</div>
			</div>
		<div th:replace="footer :: myfooter"></div>
		
		<script type="text/javascript" th:src="@{/js/main.js}" ></script>
		<script type="text/javascript" th:inline="javascript">
		 	$(document).ready(function () {
				showLoginInfoFrontend();
		 	});
		</script>

	</body>
</html>
