<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" th:href="@{/css/init.css}" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-1.7.2.js}" ></script>
		<script type="text/javascript" th:src="@{/js/echarts.min.js}" ></script>
		<script type="text/javascript" th:src="@{/js/common.js}" ></script>
		<script type="text/javascript" th:src="@{/js/jquery.cookie.js}" ></script>
	</head>
	<body>
		<div class="nyMain">
			<div class="nycontainer">
			<div class="head">
			<div class="clearfix">
				<a href="index.html" class="left logo">
					<img th:src="@{/images/logo.png}" />
				</a>
				<a href="/" class="left headBack">
					<<返回首页
				</a>
				<div class="left headsuos">
					<em></em>
					<input type="button" class="headsuosBtn" value="搜索" />
					<input type="text" class="headsuosInp" />
				</div>
				<div th:replace="qiantaidenglu :: myqiantaidenglu"></div>
			</div>
		</div>              
		    
			</div>
			<div class="nycontainer rencaiM">
				<div class="rencaiTl">
					专利分析
				</div>
				<div class="rencaiNr clearfix">
					<div class="rencaiLf left">
						<div class="rencaiLfTl">
							目录导航
						</div>
						<ul class="rencaiLfUl">
							<li>
								<a th:href="@{/patent/agmount(q=${query},totalcount=${totalCount})}">
									<span>专利申请量</span>
								</a>
							</li>
							<li>
								<a th:href="@{/patent/agcountry(q=${query},totalcount=${totalCount})}">
									<span>专利申请国</span>
								</a>
							</li>
							<li>
								<a th:href="@{/patent/agpeople(q=${query},totalcount=${totalCount})}">
									<span>发明人及专利权人</span>
								</a>
							</li>
							<li>
								<a th:href="@{/patent/agclassis(q=${query},totalcount=${totalCount})}" class="ahover">
									<span>技术分类</span>
								</a>
							</li>
							<li>
								<a th:href="@{/patent/agtype(q=${query},totalcount=${totalCount})}">
									<span>专利类型</span>
								</a>
							</li>
						</ul>
					</div>
				    <div class="rencaiRt right">
				    	    <div class="zhuanlFive clearfix">
				    	    	<span class="left" th:text="检索命中：+ ${totalCount} + 条">
				    	    		
				    	    	</span>
				    	    	<a href="#" class="right btnYellow">
				    	    		下载数据
				    	    	</a>
				    	    </div>
				    		<div class="recaiForm clearfix zhuanlOneNr">
				    			<span class="left zhuanlOne">
				    				技术分类
				    			</span>
				    			<div class="right zhuanlTwo">
				    				<a href="javascript:shuliang()" class="ahover">
				    					数量
				    				</a>
				    				<a href="javascript:showqushi();">
				    					趋势
				    				</a>
				    				
				    			</div>
				    		</div>
				    	<div  id="shuliang" style="width: 100%; height: 500px;">
				    		
				    	</div>
						<div  id="qushi" style="width: 100%; height: 500px;">
				    		
				    	</div>
				       
				    </div>
				</div>
			</div>
			</div>
		<div th:replace="footer :: myfooter"></div>
		
		<script type="text/javascript" th:src="@{/js/main.js}" ></script>
		<script type="text/javascript" th:inline="javascript">
		var famingren =  [[${famingren}]];
		var num =  [[${num}]];
		var query =  [[${query}]];	
			$(document).ready(function() {
				showLoginInfoFrontend();
				shuliang();
			});
			
			 function shuliang(arr){
			 
				var arr =[];
				var arr1= ['score', 'amount', 'product'];

				arr.push(arr1);
				for(i = 9; i >=0; i--){
					arr.push([10.7, num[i], famingren[i]]);
				}
				
				document.getElementById('qushi').style.display='none';
				document.getElementById('shuliang').style.display='block';
				var myChart1 = echarts.init(document.getElementById('shuliang'));
				var option = {
					dataset: {
						source: arr 
					},
					grid: {containLabel: true},
					xAxis: {name: ''},
					yAxis: {type: 'category'},
					visualMap:false,
					series: [
						{
							type: 'bar',
							 "label": {
									"normal": {
										"show": true,
										"position": "right",
										"formatter": function(params) {
											return params.data.name;
										}
									}
								},
							encode: {
								// Map the "amount" column to X axis.
								x: 'amount',
								// Map the "product" column to Y axis
								y: 'product'
							},
							 itemStyle: {
								normal: {
									//通过数组下标选择颜色
									color: function(params) {
										var colorList = [
										 '#C1232B','#B5C334','#FCCE10','#E87C25','#27727B',
										 '#FE8463','#9BCA63','#FAD860','#F3A43B','#60C0DD'
										 ];
										return colorList[params.dataIndex]
									},
								}
							}
						}
					]
				};

				myChart1.setOption(option);
			}
			 function showqushi(){
					document.getElementById('shuliang').style.display='none';
					document.getElementById('qushi').style.display='block';
					var param = {};
					 
				    param['querystring'] = query;
					
					var url = "/patent/patentJishuqushi";
					$.ajax({
						url : url,
						data : JSON.stringify(param),
						contentType: "application/json; charset=utf-8",
						dataType : 'json',
						type : 'post',
						success : function(data) {
							var hours = data.year;
					var days = data.ipc;
					var qushi = data.qushi;
					qushi = qushi.map(function (item) {
						return [item[1], item[0], item[2] || '-'];
					});
					var myChart = echarts.init(document.getElementById('qushi'));
					var option = {
							tooltip: {
								position: 'top'
							},
							animation: false,
							grid: {
								 left: '20%',
								height: '50%',
								y: '10%'
							},
							xAxis: {
								type: 'category',
								data: hours,
								splitArea: {
									show: true
								}
							},
							yAxis: {
								type: 'category',
								data: days,
								splitArea: {
									show: true
								}
							},
							visualMap: {
								show: false,
								min: 0,
								max: 600,
								calculable: true,
								orient: 'horizontal',
								left: 'center',
								bottom: '15%'
							},
							series: [{
								name: '',
								type: 'heatmap',
								data: qushi,
								label: {
									normal: {
										show: true
									}
								},
								itemStyle: {
									emphasis: {
										shadowBlur: 10,
										shadowColor: 'rgba(0, 0, 0, 0.5)'
									}
								}
							}]
					};

					myChart.setOption(option);
						}
					}); 
					
					
				}
			
		</script>
	</body>
</html>
