<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" th:href="@{/css/init.css}" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-1.7.2.js}" ></script>
		<script type="text/javascript" th:src="@{/js/echarts.min.js}" ></script>
		<script type="text/javascript" th:src="@{/js/common.js}" ></script>
		<script type="text/javascript" th:src="@{/js/jquery.cookie.js}" ></script>
	</head>
	<body>
		<div class="nyMain">
			<div class="nycontainer">
			<div class="head">
			<div class="clearfix">
				<a href="index.html" class="left logo">
					<img th:src="@{/images/logo.png}" />
				</a>
				<a href="/" class="left headBack">
					<<返回首页
				</a>
				<div class="left headsuos">
					<em></em>
					<input type="button" class="headsuosBtn" value="搜索" id="search" onClick="search();"/>
					<input type="text" class="headsuosInp" id="keywords"/>
				</div>
				<div th:replace="qiantaidenglu :: myqiantaidenglu"></div>
			</div>
		</div>              
		    
			</div>
			<div class="nycontainer rencaiM">
				<div class="rencaiTl">
					专利分析
				</div>
				<div class="rencaiNr clearfix">
					<div class="rencaiLf left">
						<div class="rencaiLfTl">
							目录导航
						</div>
						<ul class="rencaiLfUl">
							<li>
								<a th:href="@{/patent/agmount(q=${query},totalcount=${totalCount})}" class="ahover">
									<span>专利申请量</span>
								</a>
							</li>
							<li>
								<a th:href="@{/patent/agcountry(q=${query},totalcount=${totalCount})}">
									<span>专利申请国</span>
								</a>
							</li>
							<li>
								<a th:href="@{/patent/agpeople(q=${query},totalcount=${totalCount})}">
									<span>发明人及专利权人</span>
								</a>
							</li>
							<li>
								<a th:href="@{/patent/agclassis(q=${query},totalcount=${totalCount})}">
									<span>技术分类</span>
								</a>
							</li>
							<li>
								<a th:href="@{/patent/agtype(q=${query},totalcount=${totalCount})}">
									<span>专利类型</span>
								</a>
							</li>
						</ul>
					</div>
				    <div class="rencaiRt right">
				    	    <div class="zhuanlFive clearfix">
				    	    	<span class="left" th:text="检索命中：+ ${totalCount} + 条">
				    	    		
				    	    	</span>
				    	    	
				    	    	<!-- <a href="#" onclick="downloading()" class="right btnYellow">
				    	    		下载数据
				    	    	</a> -->
				    	    	
				    	    	
				    	    </div>
				    		<div class="recaiForm clearfix zhuanlOneNr">
				    			<span class="left zhuanlOne">
				    				专利申请量
				    			</span>
				    			<div class="right zhuanlTwo">
				    				<a href="javascript:showleixing('jinwunian')" class="ahover">
				    					近五年
				    				</a>
				    				<a href="javascript:showleixing('jinyinian')">
				    					近一年
				    				</a>
				    				<a href="javascript:showleixing('jinsanyue')">
				    					近三月
				    				</a>
				    			</div>
				    		</div>
				    	<div class="zhuanlThree" id="leixing" style="width: 100%; height: 500px;">
				    		
				    	</div>
				       
				    </div>
				</div>
			</div>
			</div>
		<div th:replace="footer :: myfooter"></div>
		<script type="text/javascript" th:src="@{/js/main.js}" ></script>
		<script type="text/javascript" th:inline="javascript">
		var yearstr =  [[${yearstr}]];
		var num =  [[${num}]];
		var query =  [[${query}]];
		var barBase64Info = '';
		
			$(document).ready(function() {
				showLoginInfoFrontend();
				showleixing('jinwunian');
			});
			function showleixing(type) {
				if(type == 'jinwunian'){
					var hengzhoushuju = yearstr;
					var faming = num;
					
					var myChart = echarts.init(document.getElementById('leixing'));
					option = {
						
						tooltip: {
							trigger: 'axis'
						},
						grid: {
							left: '3%',
							right: '4%',
							bottom: '3%',
							containLabel: true
						},
						toolbox: {
							feature: {
								saveAsImage: {}
							}
						},
						animation:false,
						xAxis: {
							type: 'category',
							
							data: hengzhoushuju
						},
						yAxis: {
							type: 'value'
						},
						series: [
							{
								type:'line',
								stack: '总量',
								data: faming,
								itemStyle : { normal: {label : {show: true}}}
							}
						]
					};

				   myChart.setOption(option);
				   barBase64Info = myChart.getDataURL();
				  // var con = '<a href="/patent/download?barBase64Info='+barBase64Info+'" class="right btnYellow">下载数据</a>';
				  // $("#downloaddata").html(con);
				}
				if(type == 'jinyinian'){
					
					
					var param = {};
					 
				    param['querystring'] = query;
					
					var url = "/patent/patentMonList";
					$.ajax({
						url : url,
						data : JSON.stringify(param),
						contentType: "application/json; charset=utf-8",
						dataType : 'json',
						type : 'post',
						success : function(data) {
							var faming = data.num;
							var hengzhoushuju = ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'];
							
							//var faming = [420, 232, 601, 134, 490,345,420, 232, 601, 134, 490,345];
							
							var myChart = echarts.init(document.getElementById('leixing'));
							option = {
								
								tooltip: {
									trigger: 'axis'
								},
								grid: {
									left: '3%',
									right: '4%',
									bottom: '3%',
									containLabel: true
								},
								toolbox: {
									feature: {
										saveAsImage: {}
									}
								},
								xAxis: {
									type: 'category',
									
									data: hengzhoushuju
								},
								yAxis: {
									type: 'value'
								},
								series: [
									{
										type:'line',
										stack: '总量',
										data: faming,
										itemStyle : { normal: {label : {show: true}}}
									}
								]
							};

						   myChart.setOption(option);
						}
					}); 
					
					
					
					
					
					
				}
				if(type == 'jinsanyue'){
					
					var param = {};
					 
				    param['querystring'] = query;
					
					var url = "/patent/patentLastMonList";
					$.ajax({
						url : url,
						data : JSON.stringify(param),
						contentType: "application/json; charset=utf-8",
						dataType : 'json',
						type : 'post',
						success : function(data) {
							var faming = data.b;
							var hengzhoushuju = data.hengzhoushuju;
							
							//var faming = [420, 232, 601, 134, 490,345,420, 232, 601, 134, 490,345];
							
							var myChart = echarts.init(document.getElementById('leixing'));
							option = {
								
								tooltip: {
									trigger: 'axis'
								},
								grid: {
									left: '3%',
									right: '4%',
									bottom: '3%',
									containLabel: true
								},
								toolbox: {
									feature: {
										saveAsImage: {}
									}
								},
								xAxis: {
									type: 'category',
									
									data: hengzhoushuju
								},
								yAxis: {
									type: 'value'
								},
								series: [
									{
										type:'line',
										stack: '总量',
										data: faming,
										itemStyle : { normal: {label : {show: true}}}
									}
								]
							};

						   myChart.setOption(option);
						}
					}); 
					
				}
			}
			function downloading() {
				var param = {
						'barBase64Info' : barBase64Info
						
					};
					 $.ajax({
						url : "/patent/download",
						data : JSON.stringify(param),
						dataType : 'json',
						type : 'post',
						contentType: "application/json; charset=utf-8",
						success : function(data) {
							
							alert('ok');
							
						}
					}); 
			}
			function search(){
			    /*  window.location.href="http://127.0.0.1:8088/project/list?q=" + $("#keywords").val(); */
			    window.location.href="/patent/list?q=" + $("#keywords").val();
				/* window.location.href="http://47.104.7.73/patent/list?q=" + $("#keywords").val(); */
			}
		</script>
	</body>
</html>
